/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************** img *********************/

img {
  width: 100%;
  display: block;
}

/*************** body *********************/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: brandon-grotesque, sans-serif;
  background-color: #f5f5f5;
}

/*************** header *********************/

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ebebeb;
  padding-top: 30px;
  padding-bottom: 20px;
  position: sticky;
}
nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0.5rem;
  gap: 30px;
  overflow-x: auto;
  float: left;
  padding-right: 4rem;
}
.logo {
  width: 30rem;
  height: auto;
  text-align: center;
  display: block;
  position: relative;
}
.banner {
  padding: 2rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 40px;
}

.kryds {
  display: inline;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 90px;
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  letter-spacing: 0.0555556em;
}

.main-menu a:hover {
  color: #9c9c9c;
}
.main-menu a {
  color: #000;
}

/************ MENU ***********************************************/

@media (max-width: 1450px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #ebebeb;
    padding-top: 30px;
    padding-bottom: 20px;
    position: sticky;
  }
  .logo {
    width: 30rem;
    height: auto;
    text-align: center;
    display: block;
    position: sticky;
  }

  /* header */
  .banner {
    padding: 2rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 40px;
  }

  .main-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  /* burgermenu */
  #container {
    background: transparent;
    border: none;
    display: none;
    text-align: right;
  }

  #container {
    display: block;
  }

  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }

  #container {
    display: grid;
    justify-items: end;
    cursor: pointer;
    width: 100%;
  }

  .main-menu.shown li {
    text-align: end;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotater første bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fadeout anden bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotater sidste bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}
@media (max-width: 545px) {
  .logo {
    width: 19.5rem;
    height: auto;
    text-align: center;
    display: block;
    position: sticky;
  }
}
