@media (max-width: 1500px) {
  #portfolio {
    position: absolute;
    top: 60px;
    letter-spacing: 1rem;
    left: 10rem;
    font-family: "Brandon Grotesque Black", sans-serif;
    font-size: 5vw;
  }
}
@media (max-width: 1200px) {
  #portfolio {
    position: absolute;
    top: 40px;
    letter-spacing: 1rem;
    left: 10rem;
    font-family: "Brandon Grotesque Black", sans-serif;
    font-size: 4.5vw;
  }
  #button {
    border-radius: 50px;
    background-color: #92a4a8;
    padding: 1.3rem;
    margin: 1.3rem;
    margin-left: 8rem;
    box-shadow: 0 9px #999;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-family: "Brandon Grotesque Medium", sans-serif;
  }
}
@media (max-width: 800px) {
  #portfolio {
    position: absolute;
    top: 30px;
    letter-spacing: 1rem;
    left: 5rem;
    font-family: "Brandon Grotesque Black", sans-serif;
    font-size: 3vw;
  }
  #button {
    border-radius: 50px;
    background-color: #92a4a8;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 4rem;
    box-shadow: 0 9px #999;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-family: "Brandon Grotesque Medium", sans-serif;
  }
}
@media (max-width: 400px) {
  #portfolio {
    position: absolute;
    top: 26px;
    letter-spacing: 1rem;
    left: 2rem;
    font-family: "Brandon Grotesque Black", sans-serif;
    font-size: 3vw;
  }
  #button {
    border-radius: 50px;
    background-color: #92a4a8;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 2rem;
    box-shadow: 0 9px #999;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6rem;
    font-family: "Brandon Grotesque Medium", sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.portfolio {
  position: absolute;
  top: 70px;
  letter-spacing: 1rem;
  left: 9.8rem;
  font-family: "Brandon Grotesque Black", sans-serif;
  font-size: 5.8vw;
}

.button {
  border-radius: 50px;
  background-color: #92a4a8;
  padding: 1.5rem;
  margin: 2rem;
  margin-left: 12rem;
  box-shadow: 0 9px #999;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-family: "Brandon Grotesque Medium", sans-serif;
}
.button:active {
  background-color: #798d92;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button:hover {
  background-color: #798d92;
}
a {
  color: #ffffff;
}
