main {
  max-width: 1000px;
  margin-inline: auto;
}
h1 {
  font-family: "Brandon Grotesque Light", sans-serif;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
}
h2 {
  font-family: "Brandon Grotesque medium", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.billede {
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.link {
  background-color: #ebebeb;
  font-family: "Brandon Grotesque medium", sans-serif;
  font-size: 17px;
  border-radius: 50px;
  padding: 0.4rem;
  margin: 1rem;
}
.link:hover {
  background-color: #d7cfce;
  color: black;
}
